name: Build Monaco Bot EXE

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [windows-2022]
        python-version: ['3.11']
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v4
      
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller opencv-python-headless numpy Pillow pywinauto
        
    - name: Build with PyInstaller
      run: |
        pyinstaller --onefile --add-data "fonts;fonts" --add-data "images;images" --add-data "protocols;protocols" --clean --noconsole --hidden-import=frontend.py --hidden-import=backend.py --hidden-import=xlstools.py --icon=icon.ico PreScript.py
        
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: PreScript_${{ matrix.os }}_Python${{ matrix.python-version }}
        path: dist/PreScript.exe
